<ion-header>
  <ion-toolbar>
    <!-- Flecha de retroceso para volver al inicio -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Hospitales y Clínicas (Buin - Paine)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-style">
    <img alt="hospital buin" src="assets/icon/images/hospital-buin.jpg" class="card-image"/>
    <ion-card-header>
      <ion-card-title>Hospital de Buin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>El Hospital de Buin es un centro de salud de referencia en la zona, con servicios de urgencias, cirugía general y atención ambulatoria.</p>
      <ion-button expand="full" routerLink="/hospitales-clinicas/buin">Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-style">
    <img alt="clinica paine" src="assets/icon/images/clinica-paine.jpg" class="card-image"/>
    <ion-card-header>
      <ion-card-title>Clínica Paine</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Clínica especializada en medicina general, atención ambulatoria y atención primaria de salud.</p>
      <ion-button expand="full" routerLink="/hospitales-clinicas/paine">Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-style">
    <img alt="hospital el manzano" src="assets/icon/images/hospital-manzano.jpg" class="card-image"/>
    <ion-card-header>
      <ion-card-title>Hospital El Manzano (Paine)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Este hospital ofrece servicios de urgencias, atención médica integral y atención especializada en la comuna de Paine.</p>
      <ion-button expand="full" routerLink="/hospitales-clinicas/manzano">Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-style">
    <img alt="hospital buin paine" src="assets/icon/images/hospital-buin-paine.jpg" class="card-image"/>
    <ion-card-header>
      <ion-card-title>Hospital Buin-Paine</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Este hospital sirve a ambas comunas, con servicios de emergencia, consultas médicas, y atención primaria.</p>
      <ion-button expand="full" routerLink="/hospitales-clinicas/buin-paine">Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-style">
    <img alt="centro médico santa catalina paine" src="assets/icon/images/centro-medico-santa-catalina.jpg" class="card-image"/>
    <ion-card-header>
      <ion-card-title>Centro Médico Santa Catalina (Paine)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Centro médico con una variedad de especialidades, incluyendo consultas médicas generales y de urgencia.</p>
      <ion-button expand="full" routerLink="/hospitales-clinicas/santa-catalina">Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-style">
    <img alt="centro médico nueva vida buin" src="assets/icon/images/centro-medico-nueva-vida.jpg" class="card-image"/>
    <ion-card-header>
      <ion-card-title>Centro Médico Nueva Vida (Buin)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Centro médico con especialidades como cardiología, traumatología, pediatría y nutrición.</p>
      <ion-button expand="full" routerLink="/hospitales-clinicas/nueva-vida">Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
