<ion-header>
  <ion-toolbar>
    <!-- Flecha de retroceso para volver al inicio -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Centros de Salud (Buin - Paine)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-style">
    <img alt="cesfam paine" src="assets/icon/images/cesfam.jpg" class="card-image"/>
    <ion-card-header>
      <ion-card-title>Cesfam de Paine</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>El Cesfam de Paine es un centro de salud de atención primaria que ofrece servicios médicos y ambulatorios a la comunidad de Paine.</p>
      <ion-button expand="full" routerLink="/hospitales-clinicas/paine">Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-style">
    <img alt="hospital buin paine" src="assets/icon/images/buin-paine.jpg" class="card-image"/>
    <ion-card-header>
      <ion-card-title>Hospital Buin-Paine</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Este hospital sirve a ambas comunas, con servicios de emergencia, consultas médicas, y atención primaria.</p>
      <ion-button expand="full" routerLink="/hospitales-clinicas/buin-paine">Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-style">
    <img alt="centro médico santa catalina paine" src="assets/icon/images/santa catalina.png" class="card-image"/>
    <ion-card-header>
      <ion-card-title>Centro Médico Santa Catalina (Paine)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Este centro médico ofrece atención ambulatoria y servicios de especialidades a los residentes de Paine.</p>
      <ion-button expand="full" routerLink="/hospitales-clinicas/santa-catalina">Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-style">
    <img alt="centro médico nueva vida paine" src="assets/icon/images/nuevavida.jpg" class="card-image"/>
    <ion-card-header>
      <ion-card-title>Centro Médico Nueva Vida (Paine)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>El Centro Médico Nueva Vida ofrece servicios médicos generales y de especialidades en Paine.</p>
      <ion-button expand="full" routerLink="/hospitales-clinicas/nueva-vida">Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
